@import "./fonts.scss";

// ## Colors

:root {
  // ### Primary
  --dark-blue: hsl(233, 47%, 7%);
  --dark-desaturated-blue: hsl(244, 38%, 16%);
  --soft-violet: hsl(277, 64%, 61%);
  // ### Neutral
  --white: hsl(0, 0%, 100%);
  --slightly-transparent-white: hsla(0, 0%, 100%, 0.75);
  --slightly-transparent-white-2: hsla(0, 0%, 100%, 0.6);
}

* {
  margin: 0;
  padding: 0;
}

*,
::before,
::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%; //1rem = 10px;
}

body {
  min-height: 100vh;
  width: 100%;
  background-color: var(--dark-blue);
  display: flex;
  align-items: center;
  justify-content: center;
}

.main-content {
  height: 31rem;
  width: 85rem;
  border-radius: 0.5rem;
  display: flex;
  overflow: hidden;

  &__left {
    background-color: var(--dark-desaturated-blue);
    width: 55%;
    padding-left: 4rem;
    padding-top: 5rem;

    .text-container {
      color: var(--white);
      max-width: 30rem;
      .main-text {
        font-family: "lexend deca";
        font-weight: 700;
        font-size: 2.8rem;
        margin-bottom: 2rem;
      }
      .purple-text {
        color: var(--soft-violet);
      }
      .content-text {
        max-width: 26rem;
        font-family: "inter";
        color: var(--slightly-transparent-white-2);
        line-height: 1.8rem;
        font-size: 1.1rem;
        margin-bottom: 5rem;
      }
      .stat-heading-container {
        display: flex;
        justify-content: space-between;
        .stat-num {
          color: var(--white);
          font-family: "inter";
          font-weight: 700;
          font-size: 1.8rem;
          margin-bottom: 0.5rem;
        }
        .stat-text {
          color: var(--slightly-transparent-white-2);
          font-family: "lexend deca";
        }
      }
    }
  }

  &__right {
    background-color: var(--soft-violet);
    height: 31rem;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;

    .background-image {
      width: 100%;
      height: 100%;
      mix-blend-mode: multiply;
    }
  }
}

@media screen and (max-width: 760px) {
  .main-content {
    flex-direction: column;
    flex-direction: column-reverse;
    height: auto;
    width: 29rem;
    min-width: 29rem;

    &__left {
      width: 100%;
      padding: 2rem 1rem;

      .text-container {
        text-align: center;
        .content-text {
          max-width: auto;
          padding: 0 3.5rem;
          margin-bottom: 3rem;
        }
        .stat-heading-container {
          flex-direction: column;
          .stat-heading {
            margin-bottom: 2.5rem;
          }
        }
      }
    }

    &__right {
      height: 24rem;
      .background-image {
        height: 100%;
      }
    }
  }
}
